*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}

h3{
    color:aqua;
}
h1,h3{
    color:#B92B27;
}

#login{
    background-color: white;
}
#signup{
    background-color: #B92B27;
    color:white;
}

/* class sel elctor */
.upvote{
    background-color: green;
    color:aliceblue;
}

/* descendant sleector */

.post a{
    color:purple;
    background-color: yellowgreen;
}

nav ul li{
    color:rgb(6, 231, 70);
    
}

nav ul li a{
    color:rgb(231, 6, 156);
    
}

p +h3{
    text-decoration: underline;
}

.upvote + button{
    background-color:black ;
    color: cyan;
}

div > input{
    background-color: rgb(201, 221, 13);
    
}

input[type="text"]{
    color:rgb(226, 16, 202);
}

input[type="password"]{
    color:rgb(15, 4, 161);
}

input[type]{
    background-color: antiquewhite;
}

/* pratice question */
#myid p{   
    color: green;
}

button:hover{
    background-color: black;
    color:azure;
}

h3:hover{
    text-decoration: overline;
}

button:active {
    background-color:rgb(228, 13, 217);
    color:aqua;
}

p:active{
    font-weight: bold ;
    color:green;
}

input[type="radio"]:checked + label{
    color: red;
    font-weight: bold;
}

div:nth-of-type(n){
    background-color: rgb(8, 133, 241);
}